[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
pandera = "*"
pandas = "*"
biopython = "*"
attrs = "*"
click = "*"

[dev-packages]
mypy = "*"
black = "*"
cv-blast = {editable = true, path = "."}

[requires]
python_version = "3.11"
